body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mydiv {
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin: 20px;
}

#mycanvas {
    background-image: url(./background.png);
    border: 10px solid green;
}